*.iml
.gradle
/local.properties
# idea files: exclude everything except dictionnaries
.idea/caches
.idea/libraries
.idea/inspectionProfiles
.idea/sonarlint
.idea/*.xml
.DS_Store
/build
/benchmark-out
/captures
.externalNativeBuild
rust-sdk/target/*
rust-sdk/src/uniffi/*
Cargo.lock

/tmp
/fastlane/private
/fastlane/report.xml

/**/build

# Added by yarn
/package.json
/yarn.lock
/node_modules
**/out/failures

# For manual dependency to rust crypto sdk
library/rustCrypto/matrix-rust-sdk-crypto.aar
vector-app/fdroidRustCrypto/release/output-metadata.json
vector-app/fdroidRustCrypto/release/vector-fdroid-rustCrypto-arm64-v8a-release.apk
vector-app/fdroidRustCrypto/release/vector-fdroid-rustCrypto-armeabi-v7a-release.apk
vector-app/fdroidRustCrypto/release/vector-fdroid-rustCrypto-universal-release.apk
vector-app/fdroidRustCrypto/release/vector-fdroid-rustCrypto-x86-release.apk
vector-app/fdroidRustCrypto/release/vector-fdroid-rustCrypto-x86_64-release.apk
